.code {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Courier;

  .keyword,
  .functionName,
  .hljs-title,
  .hljs-section,
  .hljs-keyword,
  .hljs-selector-tag {
    font-size: 2rem;
    font-weight: bolder;
  }
}

@media only screen and (max-width : 30rem) {
  .code {
    font-size: 0.7rem;
    font-weight: bold;
    font-family: Courier;
    line-height: 1.5rem;
    transform: scale(1,1.2);

    .keyword,
    .functionName,
    .hljs-title,
    .hljs-section,
    .hljs-keyword,
    .hljs-selector-tag {
      font-size: 1rem
    }
  }
}

