@import "bootstrap/scss/functions.scss";
@import "bootstrap/scss/variables.scss";
@import "bootstrap/scss/mixins/breakpoints.scss";
@import "auto_prefixer";

@include media-breakpoint-down(lg) {
  .app {
    background-color: #001a33;
    > .row {
      flex-direction: column;
    }
    .intro {
      flex: 1;
    }
  }
}
