@import url("./About.css");
@import url("./Content.css");
@import url("./Experience.css");
@import url("./Home.css");
@import url("./Navbar.css");
@import url("./code_highlight.css");
@import url("./highlight.js/ruby.css");

.app {
  width: 100%;
  height: 100%;
  margin: 0;
}

