@import "./About.scss";
@import "./Content.scss";
@import "./Experience.scss";
@import "./Home.scss";
@import "./Navbar.scss";
@import "./Social.scss";
@import "./code_highlight.scss";
@import "./highlightjs.scss";
@import "./fullpagesjs.scss";
@import "./images.scss";


.app {
  width: 100%;
  height: 100%;
  /*width: 100vw;
  height: 100vh;*/
  margin: 0;
  font-family: Inconsolata, monospace;
  font-size: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, sans-serif;
}

/*.app > *:nth-child(even) {
  background-color: #DFDBCE;
  color: #212529;
}*/

