@import "./code_highlight.scss";
@import "./highlightjs.scss";
@import "./images.scss";

.app {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Nunito, sans-serif;
  font-size: 1.2rem;

  h1, h2, h3, h4, h5, h6 {
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Roboto Slab', serif;
  }

  h1 {
    /*color: #00796B;*/
    font-weight: 600;
  }

  .centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .min-height-100 {
    min-height: 100%;
  }

  .linkContainer {
    a:first-child {
      padding-right: 0.5rem;
    }

    a:not(:first-child) {
      padding: 0 0.5rem;
      border-left: 0.1rem solid #DFDBCE;
    }
  }

  > div > div:first-child {
    background-color: #001a33;
    color: #fff;
  }

  .skills {
    .MuiChip-root-1 {
      font-size: 1rem;

      &:not(:first-child) {
        margin-left: 0.4rem;
      }
    }
  }

  .resume {
    a:not(:first-child) {
      border-color: #616161;
    }
  }

  /*.flexGrow {
    max-width: 0%;
    animation-name: flexGrow;
    animation-timing-function: ease-out;
    animation-duration: 300ms;
  }

  @keyframes flexGrow {
    from {
      max-width: 0%;
    }

    to {
      max-width: 50%;
    }
  }*/

  .flexGrow {
    /* Start small (can't be 0) so we can grow our main content til it fits half the screen */
    flex: 0.0001;
    height: 0;
    overflow: hidden;
    opacity: 0;
    animation-name: flexGrow;
    animation-timing-function: ease-in-out;
    animation-duration: 600ms;
    animation-fill-mode: both;
  }

  $delay: 0;
  $delay_step: 100;
  @while $delay < 2000 {
    .animated-delay-#{$delay} {
      animation-delay: $delay + 0ms
    }

    $delay: $delay + $delay_step;
  }

  @keyframes flexGrow {
    from {
      opacity: 0;
    }
    50% {
      height: unset;
      flex: 1;
      overflow: unset;
      opacity: 0;
    }
    to {
      flex: 1;
      height: unset;
      overflow: unset;
      opacity: 1;
    }
  }
}

