.experience {
  $card-border-radius: 1rem;

  .card {
    border-radius: $card-border-radius;
    background-color: #06213c;
    max-width: 25vw;
  }

  .card .viewCardOverlay {
    border-radius: $card-border-radius;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    cursor: pointer;
    display: none;
  }

  .card.displayOverlay {
    .card-body {
      opacity: 0.3;
    }

    .viewCardOverlay {
      display: flex;
    }
  }
}

