@import "./App.scss";
@import "bootstrap/scss/bootstrap.scss";

body, html, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  /*background-color: #212529;*/
  background-color: #001a33;
  color: #DFDBCE;
}

.linkContainer a:first-child {
  padding-right: 0.5rem;
}

.linkContainer a:not(:first-child) {
  padding: 0 0.5rem;
  border-left: 0.1rem solid black;
}

